@media (max-width: 600px) {

    .Welcome{
       text-align: left;
    }

}


.AllContent
{
    font-size: large;
}

.Welcome
{
    text-align: center;
    font-style: italic;
}

.AllDivs
{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    height: 50%;


}

.Aboutme {
    word-wrap: break-word;
    margin-right: 30px;
    width: 55%;
    

}

.Linguagens {
    word-wrap: break-word;
    margin-left: 25px;

}